.cards-group {
  background-color: $color-bg-light;

  &__inner {
    @include container(true);
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3rem;
    row-gap: 2rem;
    margin-top: 5rem;

    @media (max-width: 992px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }

    .card {
      background-color: $color-bg;
      padding: 3rem;
      border-radius: 4px;

      &__title {
        font-size: 6.4rem;
        letter-spacing: -2px;
        font-weight: 300;
        color: $color-orange;
      }

      &__description {
        @extend %paragraph;
        margin-bottom: 3rem;

        @media (max-width: 768px) {
          margin-bottom: 1.5rem;
        }
      }

      &__image {
        margin-left: -1rem;
        margin-bottom: -1rem;
        width: 125px;
        height: auto;
      }
    }
  }
}
